@page "/"
@inject LocalStorage Storage
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage

<NavBarTop />

<h1 class="title is-3">Accueil</h1>

@if (Storage["token"] == null)
{
    <p>Bienvenue, pour participer au forum tu peux t'inscrire <NavLink class="nav-link" href="SignUp">ici</NavLink></p>
}
else
{
    <p>Bienvenue @Storage["username"]</p>
}

@functions {
}
