@inject IJSRuntime JsRuntime
<p id="content-html-@UniqueId"></p>
@functions {
    [Parameter] int UniqueId { get; set; }
    [Parameter] string Content { get; set; }
    //[Parameter] protected RenderFragment ChildContent { get ; set ; }
    // https://github.com/aspnet/AspNetCore/issues/9493

    protected override async void OnAfterRender()
    {
        await JsRuntime.InvokeAsync<bool>("RawHtmlContent", Content, UniqueId);
    }
}